.header {
  margin: 0;
  position: sticky;
  top: 0px;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Pokemon Solid", sans-serif;
  box-shadow: 0px 5px 50px;
  background: linear-gradient(to right, #e73333, #9d0c0c);
  z-index: 3;
}

.title {
  margin: 1em;
  color: white;
  font-size: 3em;
  letter-spacing: 5px;
  text-shadow: 5px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.link {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  text-shadow: 5px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.link:hover {
  font-weight: 600;
}

.linkContainer {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
